body {
  background-color: black;
}

.header {
  line-height: 1em;
  font-family: "Dela Gothic One", cursive;
  font-size: 288px;
  color: white;
}
.subheader {
  font-size: 32px;

  color: white;
  font-family: "Roboto", sans-serif;
}
.introduction {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
.navbar-brand {
  font-family: "Dela Gothic One", cursive;

  letter-spacing: 0.1em;
}

.primary-button {
  display: inline-block;
  font-size: 18px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  padding: 21px 72px;
}

a.primary-button {
  text-align: center;
  text-decoration: none;
}

a.primary-button:hover {
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 21px 72px;
}
