body {
  background-color: black;
}

.header {
  line-height: 1em;
  font-family: "Dela Gothic One", cursive;
  font-size: 288px;
  color: white;
}
.subheader {
  font-size: 32px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.introduction {
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.navbar-brand {
  font-family: "Dela Gothic One", cursive;

  letter-spacing: 0.1em;
}

.btn-primary {
  background-color: black;
}
